repos:
  - repo: local
    hooks:
      - id: django-tests
        name: Run Django tests
        entry: python manage.py test
        language: system
        pass_filenames: false
        stages: [pre-commit]
